	<div class="footer-container">
		<hr class="footer-hr">
		<div class="footer">
			<p>&copyCanineConsultingGroup</p>
		</div>
	</div>

	<script type="text/javascript" src="/scripts/navbar.js"></script>
	</body>
</html>