<% include ./partials/header %>

	<title>Canine Consulting Group</title>
	<link rel="stylesheet" type="text/css" href="/stylesheets/404.css">
<% include ./partials/navbar %>



<div class="background-404">
	<h1 class="content">404: page not found</h1>
</div>


<% include ./partials/footer %>