<% include ./partials/header %>

	<title>Canine Consulting Registration Page</title>
	<link rel="stylesheet" type="text/css" href="stylesheets/register-login.css">
<% include ./partials/navbar %>


	<div id="form-body">
		<div class="form-container">
			<h1 class="form-header">Register</h1>
			<form class="registration-login-form" action="/register" method="post">
				<label>Email</label>
				<input type="email" name="username" required>
				<label>Password</label>
				<input type="password" name="password" required>
				<button>Submit</button>
			</form>
			<a href="/login">already have an account?</a>
		</div>		
	</div>


<% include ./partials/footer %>