<% include ../partials/header %>

	<title>Canine Consulting Classes Page</title>
	<link rel="stylesheet" type="text/css" href="stylesheets/navPages/classes.css">
	<script src='https://www.google.com/recaptcha/api.js'></script>
<% include ../partials/navbar %>
	<div class="classes-background">
		<div class="classes">
			<div class="choose-package">
				<p>Hover over a training package to see more information!</p>
				<p id="trainer-contact">Speak to a trainer</p>
				<p id="pricing">Prices <i class="fas fa-paw"></i></p>
			</div>
			<h2 class="class-category">Training</h2>
			<div class="training-section">
				<div class="classes-container">
					<ul class="classes-list">
						<li class="classes-button"><i class="fas fa-paw"></i><span class="package-name">Welcome Home</span></li>
						<li class="classes-button"><i class="fas fa-paw"></i><span class="package-name">Age Don't Mean a Thing</span></li>
						<li class="classes-button"><i class="fas fa-paw"></i><span class="package-name">Upperclassman</span></li>
						<li class="classes-button"><i class="fas fa-paw"></i><span class="package-name">Hooman and Me</span></li>
					</ul>		
				</div>

				<div class="classes-description-container">
					<div id="welcome-home">
						<ul class="classes-description-list">
							<li>Basic obedience</li>
							<li>Potty training</li>
							<li>Re-homing/rescue pet behavior and education</li>
							<li>Dog body language education</li>
							<li>Hand command training</li>
							<li>All ages welcome</li>
						</ul>
					</div>
					<div id="age-dont-mean-a-thing">
						<ul class="classes-description-list">
							<li>Obedience tailored to physical health</li>
							<li>Senior dog wellness activities/education</li>
							<li>Mental games</li>
							<li>Special needs help (blind/deaf)</li>
							<li>Day with a vet Q&A</li>
							<li>Age varies on breed and energy level</li>
						</ul>
					</div>
					<div id="upperclassman">
						<ul class="classes-description-list">
							<li>Intro to agility and AKC obedience events</li>
							<li>High distraction activities with minimal rewards</li>
							<li>Advanced hand command training</li>
							<li>AKC Canine Good Citizen evaluation</li>
							<li>Pet therapy intro package (not service dogs)</li>
							<li>All ages welcome</li>
						</ul>
					</div>
					<div id="hooman-and-me">
						<ul class="classes-description-list">
							<li>All private classes</li>
							<li>Behavior modification</li>
							<li>Added on obedience training</li>
							<li>Real life situation issues</li>
							<li>Complete dog-wolf body language education</li>
							<li>Lifetime support</li>
						</ul>
					</div>
				</div>
			</div>

		</div>

		<hr class="classes-separate">

		<div class="classes">
			<h2 class="class-category">Behavior Modification</h2>

			<div class="classes-container">
				<ul class="classes-list">
					<li class="classes-button"><i class="fas fa-paw"></i><span class="package-name">Reactivity</span></li>
					<li class="classes-button"><i class="fas fa-paw"></i><span class="package-name">Socialization</span></li>
					<li class="classes-button"><i class="fas fa-paw"></i><span class="package-name">Anxiety</span></li>
				</ul>		
			</div>

			<div class="classes-description-container">
				<div id="reactivity">
					<ul class="classes-description-list">
						<li>Evaluation and observations (FREE)</li>
						<li>Obedience to low reactions (bottom of the totem)</li>
						<li>Reactions to the mid-range distractions</li>
						<li>Reaction training to the stimulus</li>
						<li>Stimulus behavior modification with enhanced distance training methods</li>
						<li>Real life trial class days</li>
						<li>End of class evaluation</li>
					</ul>
				</div>
				<div id="socialization">
					<ul class="classes-description-list">
						<li>Evaluation and diagnosis (FREE)</li>
						<li>Diagnosis of level of under-socialization and reactivity</li>
						<li>Learn low level socialization obedience tools</li>
						<li>Mid-range socialization in a low level environment</li>
						<li>Safety training</li>
						<li>Environment training</li>
						<li>Territory behavior modification</li>
						<li>Final evaluation</li>
					</ul>
				</div>
				<div id="anxiety">
					<ul class="classes-description-list">
						<li>Evaluation and diagnosis (FREE)</li>
						<li>Vet recommendations</li>
						<li>Similar training to reactivity and socialization training</li>
						<li>In-home obedience training with low anxiety stimulus</li>
						<li>Mid-range and outide training will depend on the dog's personal anxiety triggers</li>
						<li>Final evaluation</li>
					</ul>
				</div>
			</div>

		</div>

		<div class="contact-popup-background">
			<div class="contact-form">
				<form id="enrollmentForm" action="/trainer_contact" method="post">
					<div class="contact-item">
						<h4 class="input-title">Name of Owner: 
							<input id="owner-name" class="contact-input" type="text" name="enrollment[ownerName]" required />
						</h4>
					</div>
					<div class="contact-item">
						<h4 class="input-title">Name of Dog: 
							<input id="dog-name" class="contact-input" type="text" name="enrollment[dogName]" required />
						</h4>
					</div>
					<div class="contact-item">
						<h4 class="input-title">Breed: 
							<input id="dog-breed" class="contact-input" type="text" name="enrollment[dogBreed]" required />
						</h4>
					</div>
					<div class="contact-item">
						<h4 class="input-title">Age: 
							<input id="dog-age" class="contact-input" type="number" name="enrollment[dogAge]" required />
						</h4>
					</div>
					<div class="contact-item">
						<h4 class="input-title">Preferred Contact: 
							<input id="dog-age" class="contact-input" type="text" name="enrollment[contact]" placeholder="Enter Phone # or Email"required />
						</h4>
					</div>
					<div class="contact-item">
						<h4 class="input-title-checkbox"> 
							<input id="behavior-class" class="contact-input-checkbox" type="checkbox" name="enrollment[behaviorClass]" /> Behavior
							<input id="training-class" class="contact-input-checkbox2" type="checkbox" name="enrollment[trainingClass]" /> Training
						</h4>
					</div>

					<br>

					<div class="contact-item">
						<h4 class="input-title-message">Message: </h4>
						<textarea class="contact-input-text" name="enrollment[msg]" placeholder="Include which class you're inquiring about..."></textarea>
					</div>

					<div class="g-recaptcha" data-sitekey="6Le5iloUAAAAAK6R_WR2vqqej6cM987NTYQjXe8y"></div>
					<div class="form-buttons">
						<p class="contact-form-cancel">Cancel</p>
						<button class="contact-form-send">Send</button>
					</div>
					
				</form>
			</div>
		</div>

		<div class="prices-popup-background">
			<div class="prices-popup">
				<h2 class="prices-header">Training</h2>
				<h4 class="prices-type">Group Classes</h4>
				<p class="price-per-session">$64 per session</p>
				<ul class="prices-list-container">
					<li class="prices-content">Must purchase minimum of 4 sessions for effective training results</li>
					<li class="prices-content">Additional sessions are $53 each</li>
					<li class="prices-content">Sessions are open to last minute cancellation and rescheduling if pet parent has conflicts</li>
				</ul>

				<h4 class="prices-type">Private Classes</h4>
				<p class="price-per-session">$100 per session</p>
				<ul class="prices-list-container">
					<li class="prices-content">Must purchase minimum of 4 sessions for effective training results</li>
					<li class="prices-content">Additional sessions are $73 each</li>
					<li class="prices-content">1 FREE introduction class to behavior modification</li>
				</ul>
				
				<h4 class="prices-type-discount">DISCOUNT PRICES</h4>
				<h4 class="discount-header">Group Class</h4>
				<p class="discount-prices">$300 for 5 sessions</p>
				<h4 class="discount-header">Private Class</h4>
				<p class="discount-prices">$410 for 5 sessions</p>

				<h2 class="prices-header">Behavior Modification</h2>
				<p class="price-per-session">$920 per behavior package</p>
				<ul class="prices-list-container">
					<li class="prices-content">Recommended minimum attendance of 6 sessions for effective training results</li>
					<li class="prices-content">FREE evaluations</li>
					<li class="prices-content">Sessions are open to last minute cancellation and rescheduling if pet parent has conflicts</li>
				</ul>
				

				<h2 class="prices-header">Rescue Groups and Non-Profits</h2>
				<p class="rescue-price">Basic obedience is free for all fosters and rescue groups trying to rehome and adopt out dogs.</p>
				<p class="rescue-price">Behavior modification will include free evaluation and training instructions.</p>
				<br class="rescue-break">
				<p class="rescue-price">Welcome Home package will be $50 for 2 sesssions for new adoptions.</p>

				<p class="prices-popup-close">Close</p>
			</div>
		</div>

	</div>

<script type="text/javascript" src="/scripts/navPages/classes.js"></script>
<% include ../partials/footer %>