<% include ../partials/header %>

	<title>Canine Consulting Classes Page</title>
	<link rel="stylesheet" type="text/css" href="stylesheets/navPages/classes.css">
<% include ../partials/navbar %>
	<div class="classes-background">
		<div class="classes">
			<div class="choose-package">
				<p>Hover over a training package to see more information!</p>
			</div>
			<h2 class="class-category">Training</h2>
			<div class="training-section">
				<div class="classes-container">
					<ul class="classes-list">
						<li class="classes-button"><i class="fas fa-paw"></i><span class="package-name">Welcome Home</span></li>
						<li class="classes-button"><i class="fas fa-paw"></i><span class="package-name">Age Don't Mean a Thing</span></li>
						<li class="classes-button"><i class="fas fa-paw"></i><span class="package-name">Upperclassman</span></li>
						<li class="classes-button"><i class="fas fa-paw"></i><span class="package-name">Hooman and Me</span></li>
					</ul>		
				</div>

				<div class="classes-description-container">
					<div id="welcome-home">
						<ul class="classes-description-list">
							<li>Basic obedience</li>
							<li>Potty training</li>
							<li>Re-homing/rescue pet behavior and education</li>
							<li>Dog body language education</li>
							<li>Hand command training</li>
							<li>All ages welcome</li>
						</ul>
						<p class="price">Price: $1.5MM</p>
					</div>
					<div id="age-dont-mean-a-thing">
						<ul class="classes-description-list">
							<li>Obedience tailored to physical health</li>
							<li>Senior dog wellness activities/education</li>
							<li>Mental games</li>
							<li>Special needs help (blind/deaf)</li>
							<li>Day with a vet Q&A</li>
							<li>Age varies on breed and energy level</li>
						</ul>
						<p class="price">Price: $1.5MM</p>
					</div>
					<div id="upperclassman">
						<ul class="classes-description-list">
							<li>Intro to agility and AKC obedience events</li>
							<li>High distraction activities with minimal rewards</li>
							<li>Advanced hand command training</li>
							<li>AKC Canine Good Citizen evaluation</li>
							<li>Pet therapy intro package (not service dogs)</li>
							<li>All ages welcome</li>
						</ul>
						<p class="price">Price: $1.5MM</p>
					</div>
					<div id="hooman-and-me">
						<ul class="classes-description-list">
							<li>All private classes</li>
							<li>Behavior modification</li>
							<li>Added on obedience training</li>
							<li>Real life situation issues</li>
							<li>Complete dog-wolf body language education</li>
							<li>Lifetime support</li>
						</ul>
						<p class="price">Price: $1.5MM</p>
					</div>
				</div>
			</div>

		</div>

		<hr class="classes-separate">

		<div class="classes">
			<h2 class="class-category">Behavior Modification</h2>

			<div class="classes-container">
				<ul class="classes-list">
					<li class="classes-button"><i class="fas fa-paw"></i><span class="package-name">Reactivity</span></li>
					<li class="classes-button"><i class="fas fa-paw"></i><span class="package-name">Socialization</span></li>
					<li class="classes-button"><i class="fas fa-paw"></i><span class="package-name">Anxiety</span></li>
				</ul>		
			</div>

			<div class="classes-description-container">
				<div id="reactivity">
					<ul class="classes-description-list">
						<li>reactivity</li>
					</ul>
					<p class="price">Price: $1.5MM</p>
				</div>
				<div id="socialization">
					<ul class="classes-description-list">
						<li>socialize</li>
					</ul>
					<p class="price">Price: $1.5MM</p>
				</div>
				<div id="anxiety">
					<ul class="classes-description-list">
						<li>anxiety</li>
					</ul>
					<p class="price">Price: $1.5MM</p>
				</div>
			</div>

		</div>
	</div>

<script type="text/javascript" src="/scripts/navPages/classes.js"></script>
<% include ../partials/footer %>