<% include ../partials/header %>

	<title>Canine Consulting Classes Page</title>
	<link rel="stylesheet" type="text/css" href="stylesheets/navPages/method.css">
	<link href="https://fonts.googleapis.com/css?family=Handlee|Sacramento" rel="stylesheet">
<% include ../partials/navbar %>
	<div class="method-background">

		<div class="blurb-intro">
			<p>Click on our packages to learn more...</p>
		</div>

		<hr class="blurb-separate">

		<div class="method-container">

			<div class="learn-more">
				<button id="behavior-button" class="learn-button">Learn about our Behavior Classes</button>
			</div>

			<div>
				<div class="boxes-behavior">
					<p id="reactivity-method" class="box box1">reactivity</p>
					<p id="socialization-method" class="box">socialization</p>
					<p id="anxiety-method" class="box">anxiety</p>
				</div>
			</div>
			
			<div class="learn-more">
				<button id="obedience-button" class="learn-button">Learn about our Obedience Classes</button>
			</div>


			<div>
				<div class="boxes-training">
					<p id="welcome-home-method" class="box2">Welcome Home</p>
					<p id="age-dont-method" class="box2">Age Don't Mean a Thing</p>
					<p id="upperclassman-method" class="box2">Upperclassman</p>
					<p id="hooman-and-me-method" class="box2">Hooman and Me</p>
				</div>
			</div>

		</div>

		<div class="popup-background">
			<div class="popup">
				<div class="x-close-container">
					<p class="x-close">x</p>	
				</div>
				<div class="popup-package-content" id="reactivity-popup-content">
					<h2 class="popup-package-name">Reactivity</h2>
					<p>Balloons, tall men, skateboards, holiday neighborhood blow-up lawn ornaments,
					should we go on?</p>
					<p>It doesn’t matter what gets your dog going from angel to possessed demon, a reactive
					dog is an unhappy dog.</p>
					<p>When training on reactivity, it’s best to gather an understanding of your dog’s triggers.
					It’s important to be able to anticipate and predict a reactive situation, prior to your dog even
					knowing it’s going to happen. When you walk down the street and see the man with the hat
					by the stop sign, and you just know Max (currently preoccupied with sniffing the grass), will
					bark and growl. If there’s no way of avoiding the man with the hat, it’s better to know the
					ways to communicate peace and calm with Max, before Max has already decided to go into
					reaction mode. If the man with the hat leaves, take the moment to make sure Max didn’t’
					notice, and move on.</p>
					<p>Training reactions out of dogs will definitely require them to face their problems,
					which means not crossing the street to the other side of the side walk just because Pebbles the
					Third does not like the Beagle around the corner.</p>
					<h5 class="popup-image-title">The totem of reaction</h5>
					<img class="popup-image" src="https://i.imgur.com/ofRs9hu.png">
					<p>All behavior modification courses will start with tackling the lowest level of the totem, which represents a dog’s least reactive behavior in an environment where they feel safe. Food and toys will come next, and they act as place holders in the training process, for the real stimulus. The difficulty of having a dog ignore other humans and dogs come next, and even though dogs or humans might get a reaction from your dog, the real challenge will be to calm your dog’s brain – their natural drive. Once the brain is convinced that the stimulus doesn’t require the unwanted behavior, everything else on the totem will also result in a no-reaction from your dog.</p>
				</div>

				<div class="popup-package-content" id="socialization-popup-content">
					<h2 class="popup-package-name">Socialization</h2>
					<p>Whatever the reason might be, we don’t care why Pebbles the Third has not been socialized. At the same time, this class will teach socialization, including social cues, behavior patterns, and how to read your dog’s body language when they do not understand canine social norms.</p>

					<p>Training for a dog that has not been socialized can take a lot of time and patience from the pet parent. An under-socialized dog can result in fear, anxiety, and nervousness. These are all reactions that can put the dog in danger to themselves, and others.</p>

					<p>This class differs from a reactive dog because an under-socialized dog has more than just one stimulus. Usually under-socialization means introducing a whole new world, or small corner of the world, to the dog. If Max hates the park, then the whole entire park, every entity of that park, and all park related activities will need to be introduced and socialized. </p>
				</div>

				<div class="popup-package-content" id="anxiety-popup-content">
					<h2 class="popup-package-name">Anxiety</h2>
					<p>This is the part where you say, “Hi, my dog needs a therapist!”</p>
					<p>Unfortunately, anxiety is a huge issue in many dogs. Fortunately, we’re experts at diagnosing the root cause of these anxiety issues. </p>
					<p>Whether it’s from fireworks, separation, or even that outdoor mall with the great stores, anxiety is not a mental state that dogs need to live with in their lives with us. </p>
					<p>This class does not differ from socialization and reactivity, but we offer it as a class on its own in case of severe cases of separation anxiety or noise anxiety. </p>
					<p>In this course, we’ll be teaching you and your dog tools to use in order to direct their anxiety in a healthier behavior manner. </p>

				</div>

				<div class="popup-package-content" id="welcome-home-popup-content">
					<h2 class="popup-package-name">Welcome Home</h2>
					<p>So you got a new puppy, adopted a dog, or maybe rescued a stray! This package was built for dogs who have just found their forever home. When the excitement wears off, sometimes there’s the “oh fruitcake what have we done” moments.</p>
					<p>This package will teach new and experienced dog parents the fundamentals of dog communication, all levels of obedience training, hand commands, and of course all the novelty tricks that everyone loves to show off.</p>
					<p>Classes are always in groups, and will be grouped based on experience level. So if you’re one of the lucky few who just brought home a wonderful new dog, equipped with great obedience manners, the curriculum will not be the same as it would for a puppy.</p>
					<p>Even if you’ve had your dog for some time now, and are just curious about learning more, or brushing up on their vocabulary, everyone is welcome!</p>
					<p>The skills taught in this class will revolve around basic obedience, distractions, leash handling, dog body language, and high level training tools from AKC obedience and utility events (including heel work and nose work).</p>

				</div>

				<div class="popup-package-content" id="age-dont-popup-content">
					<h2 class="popup-package-name">Age Don't Mean a Thing</h2>
					<p>So Buster is 11 years old this year, but you know he’s got the heart of a puppy. This doesn’t mean you should exclude him from training!</p>
					<p>This package was designed for senior dogs and dogs with special needs. Each group class will vary in age, and dogs with loss of vision/hearing will be in special group classes. </p>
					<p>A senior dog in this class will receive frequent breaks, special attention to avoid over straining, but still receiving the training and mental stimulation they need to be happy. Dogs with special needs will have a fitted curriculum just to make them participate with their own personal ease and comfort.</p>
					<p>So if Old Pebbles the Third wants to join for some training, maybe learn some new commands to help him adapt in a human world, this class has a lot to offer!</p>
				</div>

				<div class="popup-package-content" id="upperclassman-popup-content">
					<h2 class="popup-package-name">Upperclassman</h2>
					<p>Oh boy, here comes the graduate. This is the class for dogs who have excelled at everything they could learn, but dog owners who want to push them to strive for that higher education! There is an entrance exam prior to the enrollment of the Upperclassman package.</p>
					<p>Enrollment in this class will not only work on distractions, distance, and reaction, but also combine all three with new environments, unorthodox situations, and challenging combination tasks (such as teaching Max to fetch you a beer). The curriculum includes several different scenarios, where the dogs will need to utilize everything they already know, to complete various challenging tasks.</p>
					<p>This is also the class to test AKC’s Canine Good Citizen Evaluation, as well as Pet Partner’s Therapy Dog Evaluation. If you are looking to train your dog as a service animal, this is not the class for you. Service dog training will be private classes, offered on a different schedule (email us to learn more!).</p>
				</div>

				<div class="popup-package-content" id="hooman-and-me-popup-content">
					<h2 class="popup-package-name">Hooman and Me</h2>
					<p>So you’re sitting on your couch with Buddy, watching mindless commercials on TV roll by. If only there was a class that was just designed for pure fun.</p>
					<p>Look no further, this is the group class for any dog owner who just want a fun activity to do with their dogs. Basic obedience is required, but not strictly necessary, which means you can get away with your dog only knowing sit, lay down, stay, and come (even if they are not perfect at them).</p>
					<p>The curriculum for this group class will revolve around using a dog’s natural drive and instincts, to create games for them that can help their self-esteem, basic obedience, and communication skills. We’ll also teach tricks beyond shake and play dead, but nothing too serious where the fun and ease will be taken out of the lesson.</p>
					<p>If you’re ready to enroll in this fun camp, get ready to be active, enthusiastic, and loaded with treats and toys!</p>
				</div>

				<div class="popup-package-content" id="obedience-popup-content">
					<h2 class="popup-package-name">Obedience</h2>
					<p>If your dog loves people, dogs, inanimate objects, but can’t seem to stop barking excitedly at all of the above, then obedience packages are for you. This is a human need, where the human does not want to look like the schmuck, yanking their overly excited dog away from people. At the same time, it’s also a dog need, since they need to learn human etiquette (also a safety concern).</p>
				</div>

				<div class="popup-package-content" id="behavior-popup-content">
					<h2 class="popup-package-name">Behavior</h2>
					<p>When looking for the right class, it’s important to distinguish the difference between what the dog needs, and what the human needs. All of the training will use Premack’s principle, positive reinforcement, no force/pain inflicting methods, and will also consist of the teachings from Dr. Ian Dunbar and Karen Pryor.</p>
					<p>If your dog hates people, loves dogs, can’t trust inanimate objects, shows his stress and discontent in obvious ways, then private behavior classes are for you. This is a dog need, where the dog requires behavior modification therapy for a happier mental state, thus happier way of life.</p>
				</div>
				
				<button class="popup-close">close</button>
			</div>

		</div>
	
	</div>	




<script type="text/javascript" src="/scripts/navPages/method.js"></script>

<% include ../partials/footer %>