<% include ../partials/header %>

	<title>Canine Consulting Classes Page</title>
	<link rel="stylesheet" type="text/css" href="stylesheets/navPages/method.css">
<% include ../partials/navbar %>
	<div class="method-background">
		<div class="method-container">
			<div class="blurb">
				<h3>Intro blurb blah blah</h3>
			</div>
			<hr class="blurb-separate">

			<div>
				<div class="boxes-behavior">
					<p id="reactivity-method" class="box box1">reactivity</p>
					<p id="socialization-method" class="box">socialization</p>
					<p id="anxiety-method" class="box">anxiety</p>
				</div>
			</div>

			<div>
				<div class="boxes-training">
					<p id="welcome-home-method" class="box2">Welcome Home</p>
					<p id="age-dont-method" class="box2">Age Don't Mean a Thing</p>
					<p id="upperclassman-method" class="box2">Upperclassman</p>
					<p id="hooman-and-me-method" class="box2">Hooman and Me</p>
				</div>
			</div>

		</div>

		<div class="popup-background">
			<div class="popup">
				<div class="x-close-container">
					<p class="x-close">x</p>	
				</div>
				<h2 class="popup-package-name">package methodology</h2>
				<p>Bacon ipsum dolor amet pork ham hock meatball pig pancetta ball tip beef ribs picanha boudin swine, bacon cow venison. Beef ribs swine venison, pastrami rump ham hock sirloin boudin pork chop frankfurter picanha ribeye tenderloin meatball. Venison andouille doner, bacon leberkas ball tip drumstick ribeye tenderloin buffalo tri-tip. Ground round capicola jowl tri-tip chicken, sausage sirloin brisket. Pork belly shank hamburger andouille jowl turducken tenderloin, ground round chicken venison beef t-bone. Tri-tip bacon chuck, cupim bresaola flank porchetta venison chicken leberkas. Meatball flank pork chop meatloaf, tenderloin bresaola sirloin bacon.

				Brisket ribeye jowl shank doner capicola tail landjaeger leberkas buffalo short ribs. Drumstick meatloaf ham hock pork belly tail jerky t-bone pig shoulder ham ball tip picanha pork chop. Turkey tri-tip corned beef spare ribs. Rump pancetta cupim meatball, chuck strip steak ham hock.</p>
				<p>Bacon ipsum dolor amet pork ham hock meatball pig pancetta ball tip beef ribs picanha boudin swine, bacon cow venison. Beef ribs swine venison, pastrami rump ham hock sirloin boudin pork chop frankfurter picanha ribeye tenderloin meatball. Venison andouille doner, bacon leberkas ball tip drumstick ribeye tenderloin buffalo tri-tip. Ground round capicola jowl tri-tip chicken, sausage sirloin brisket. Pork belly shank hamburger andouille jowl turducken tenderloin, ground round chicken venison beef t-bone. Tri-tip bacon chuck, cupim bresaola flank porchetta venison chicken leberkas. Meatball flank pork chop meatloaf, tenderloin bresaola sirloin bacon.

				Brisket ribeye jowl shank doner capicola tail landjaeger leberkas buffalo short ribs. Drumstick meatloaf ham hock pork belly tail jerky t-bone pig shoulder ham ball tip picanha pork chop. Turkey tri-tip corned beef spare ribs. Rump pancetta cupim meatball, chuck strip steak ham hock.</p>
					<p>Bacon ipsum dolor amet pork ham hock meatball pig pancetta ball tip beef ribs picanha boudin swine, bacon cow venison. Beef ribs swine venison, pastrami rump ham hock sirloin boudin pork chop frankfurter picanha ribeye tenderloin meatball. Venison andouille doner, bacon leberkas ball tip drumstick ribeye tenderloin buffalo tri-tip. Ground round capicola jowl tri-tip chicken, sausage sirloin brisket. Pork belly shank hamburger andouille jowl turducken tenderloin, ground round chicken venison beef t-bone. Tri-tip bacon chuck, cupim bresaola flank porchetta venison chicken leberkas. Meatball flank pork chop meatloaf, tenderloin bresaola sirloin bacon.

				Brisket ribeye jowl shank doner capicola tail landjaeger leberkas buffalo short ribs. Drumstick meatloaf ham hock pork belly tail jerky t-bone pig shoulder ham ball tip picanha pork chop. Turkey tri-tip corned beef spare ribs. Rump pancetta cupim meatball, chuck strip steak ham hock.</p>
					<p>Bacon ipsum dolor amet pork ham hock meatball pig pancetta ball tip beef ribs picanha boudin swine, bacon cow venison. Beef ribs swine venison, pastrami rump ham hock sirloin boudin pork chop frankfurter picanha ribeye tenderloin meatball. Venison andouille doner, bacon leberkas ball tip drumstick ribeye tenderloin buffalo tri-tip. Ground round capicola jowl tri-tip chicken, sausage sirloin brisket. Pork belly shank hamburger andouille jowl turducken tenderloin, ground round chicken venison beef t-bone. Tri-tip bacon chuck, cupim bresaola flank porchetta venison chicken leberkas. Meatball flank pork chop meatloaf, tenderloin bresaola sirloin bacon.

				Brisket ribeye jowl shank doner capicola tail landjaeger leberkas buffalo short ribs. Drumstick meatloaf ham hock pork belly tail jerky t-bone pig shoulder ham ball tip picanha pork chop. Turkey tri-tip corned beef spare ribs. Rump pancetta cupim meatball, chuck strip steak ham hock.</p>
				<button class="popup-close">close</button>
			</div>

		</div>
	
	</div>	




<script type="text/javascript" src="/scripts/navPages/method.js"></script>

<% include ../partials/footer %>