<% include ../partials/header %>

	<title>Canine Consulting Classes Page</title>
	<link rel="stylesheet" type="text/css" href="stylesheets/navPages/schedule.css">
<% include ../partials/navbar %>
	<div class="schedule-background">
		<div class="schedule-container">
			<div class="schedule-left">
				<h2 class="schedule-header">CLASSES</h2>
				<div class="schedule-content">
					<div class="date-container">
						<h4 class="schedule-date">Date</h4>
					</div>
					<div class="schedule-title-container">
						<h4 class="schedule-title">Class</h4>
						<p>To be announced</p>
					</div>
				</div>
			</div>

			<div class="schedule-right">
				<h2 class="schedule-header">WORKSHOPS</h2>
				<div class="schedule-content">
					<div class="date-container">
						<h4 class="schedule-date">Date</h4>
					</div>
					<div class="schedule-title-container">
						<h4 class="schedule-title">Workshop</h4>
						<p>To be announced</p>
					</div>
				</div>
			</div>
		</div>
		<div class="schedule-container">
			<div class="schedule-events">
				<h2 class="schedule-header">EVENTS</h2>
				<div class="schedule-content-events">
					<div class="date-container">
						<h4 class="schedule-date">Date</h4>
					</div>
					<div class="schedule-title-container">
						<h4 class="schedule-title">Event</h4>
						<p>To be announced</p>
					</div>					
				</div>		
			</div>
		</div>
	</div>	

<!-- <script type="text/javascript" src="/scripts/navPages/schedule.js"></script> -->

<% include ../partials/footer %>
