<% include ../partials/header %>

	<title>Canine Consulting Classes Page</title>
	<link rel="stylesheet" type="text/css" href="stylesheets/navPages/schedule.css">
<% include ../partials/navbar %>
	<div class="schedule-background">
		<div class="schedule-container">
			<p>Coming soon...</p>
		</div>
	
	</div>	

<!-- <script type="text/javascript" src="/scripts/navPages/schedule.js"></script> -->

<% include ../partials/footer %>
