<% include ../partials/header %>

	<title>Canine Consulting Team Page</title>
	<link rel="stylesheet" type="text/css" href="stylesheets/navPages/team.css">
<% include ../partials/navbar %>

	<div class="team-background">
		<div class="team-container">
			<div class="teammate-container">

				<div class="teammate">
					<div class="teammate-header">
						<img class="wendy-image image-left" src="https://i.imgur.com/7fJRInp.jpg">
						<div class="wendy-left">	
							<h3>Wendy</h3>
							<h4>FOUNDER + BEHAVIORIST</h4>
						</div>
					</div>
					<p class="teammate-content" id="wendy-info">
						Since her childhood, Wendy has been immersed in the world of dog training, wolf studies, dog shows, and canine behaviors. She has over a decade of experience with dog behavior, canine health, and canine research (including research at UC Davis, Yellowstone National Park, and zoology). Wendy uses the same teaching methodology as Dr. Ian Dunbar, world-renowned dog behaviorist and veterinarian, and hopes to close the rift in dog training methods by teaching a scientific methodology in training their dogs, relying on empathy, respect, and open communication. Some notable organizations that she has worked with include San Diego Zoo, Los Angeles Supreme Court judges, Miami Police Department, AKC, Pet Partners, Guide Dogs of America, and many more. Her scope of experience in different types of behavior and training has given her high success rates with all of her students. The devotion and passion she has for pet care goes beyond dogs, and it’s her personal mission to make sure her footprint leaves a positive impact on all canine-human relationships. Her non-animal background includes an extensive background in healthcare, business consulting, and analytics. 
						<p class="see-more see-more-button-right" id="see-more-wendy">Read more</p>
					</p>			
				</div>

				<hr class="team-separate">

				<div class="teammate">
					<div class="teammate-header">
						<img class="teammate-image image-right" src="https://i.imgur.com/HoddCsw.jpg">
						<div class="teammate-right">	
							<h3>Moira</h3>
							<h4>EXECUTIVE RETAIL + CUSTOMER SERVICE</h4>
						</div>
					</div>
					<p class="teammate-content" id="moira-info">
						With over 12 years of operations experience with business, Moira has always wanted to combine her operation management experience with her passion of dogs. Growing up in Miami, Florida, her family co-habits with their 5 poodles, and currently she lives with her Rottweiler. Moira’s goal with CCG is to be able to easily integrate pet care businesses with better and more profitable operating standards, while cutting out waste that can take time away from the quality and customer service of a business. In her free time, Moira can be found biking by the beach with her dogs, or kayaking through the mangroves.
						<p class="see-more see-more-button-left" id="see-more-moira">Read more</p>
					</p>
				</div>

				<hr class="team-separate">

				<div class="teammate">
					<div class="teammate-header">
						<img class="teammate-image image-left" src="https://i.imgur.com/M8yu4xq.jpg">
						<div class="teammate-left">	
							<h3>Erika</h3>
							<h4>EXECUTIVE COUNSELOR</h4>
						</div>
					</div>
					<p class="teammate-content" id="erika-info">
						An unlikely partnership with CCG, Erika joined the team because she realized that many personal relationships often have underlying issues that can come to light when caring for a dog. Whether animals help aid as emotional support, service, work and utility, or just as a companion, she will support each CCG member with counseling and therapy. Her commitment is to be able to give a healthy mental outreach outlet to each pet parent. Her non-animal background includes her academic and professional training in education and family counseling, with emphasis on clinical depression, generalized anxiety disorder, and autism spectrum disorder.
						<p class="see-more see-more-button-right" id="see-more-erika">Read more</p>
					</p>
				</div>

				<hr class="team-separate">

				<div class="teammate">
					<div class="teammate-header">
						<img class="teammate-image image-right" src="https://i.imgur.com/o3WZCCb.jpg">
						<div class="teammate-right">	
							<h3>Brandon</h3>
							<h4>TECHNOLOGY CONSULTANT</h4>
						</div>
					</div>
					<p class="teammate-content" id="brandon-info">
						From Cocker Spaniels, to Rhodesian Ridgebacks, Brandon has never lived a moment of his life without a canine companion. A native to Southern California, Brandon has merged his business career development, and entrepreneurial strategies to help the pet industry promote small businesses, especially in dog care. In his free time, he can often be found with his new German Shepherd puppy at the dog beach and hiking trails in his neighborhood. Brandon joined the CCG team because he believes there’s a gap of business understanding in many dog loving business owners, and he wants to successfully guide each business owner to their full potential. His non-animal background includes coding, financial planning, and senior level analytics.
						<p class="see-more see-more-button-left" id="see-more-brandon">Read more</p>
					</p>		
				</div>
				
			</div>
		</div>
	</div>
<script type="text/javascript" src="/scripts/navPages/team.js"></script>

<% include ../partials/footer %>