/* NON-TIFFANY BLUE: #77d2ca OR rgba(119, 210, 202, 1) */
body {
	overflow-x: hidden;
}

.classes-background {
	background-image: url('https://i.imgur.com/2kNJQBa.jpg');
	background-size: cover;
	background-position: center;
	padding-top: 25px;
	color: white;
	min-height: 1100px;
	margin-bottom: -19px;
}

.classes {
	width: 75%;
	margin: 20px auto;
}

.choose-package p {
	text-align: center;
	margin: 0;
	color: white;
	font-size: 1.4em;
}

#trainer-contact {
	font-size: 1em;
	cursor: pointer;
	border: 2px solid rgba(119, 210, 202, 1);
	background-color: white;
	color: rgba(119, 210, 202, 1);
	border-radius: 10px;
	width: 200px;
	margin: 0 auto;
	padding: 10px 0;
	margin-top: 20px;
}

#trainer-contact:hover {
	border: 2px solid white;
	background-color: rgba(119, 210, 202, 1);
	color: white;
}

#pricing {
	float: right;
	cursor: pointer;
	margin-top: -40px;
	border: 1px solid white;
	padding: 10px;
	border-radius: 20px;
}

#pricing:hover {
	opacity: 0.6;
}

.class-category {
	border: 2px solid white;
	padding: 5px;
	border-radius: 10px;
	background-color: rgba(119, 210, 202, 1);
	color: white;
	text-align: center;
}

.training-section {
	overflow: hidden;
	height: 350px;
}

.classes-container {
	width: 360px;
	overflow: hidden;
	float: left;
	margin-right: calc(100% - 360px - 450px);
}

.classes-list {
	padding: 0;
	margin: 0 0 0 10px;
	list-style: none;
}

.classes-list li {
	line-height: 40px;
	font-size: 1.5em;
	padding: 10px;
	margin-bottom: 10px;
	border-radius: 10px;
	cursor: pointer;
}

.package-name {
	margin-left: 10px;
}

.classes-description-container {
	width: 440px;
	border-radius: 10px;
	overflow: hidden;
	border: 2px solid rgba(119, 210, 202, 1);
	display: none;
}

.description-title {
	text-align: center;
	background-color: rgba(119, 210, 202, 1);
	color: white;
	margin: 0;
	padding: 20px;
}

.classes-description-list {
	padding: 30px;
	margin: 0;
	background-color: rgba(255, 255, 255, 0.7);
}

.classes-description-list li {
	margin: 10px 0;
	color: white;
	-webkit-transition: color 1s ease-out;
	-o-transition: color 1s ease-out;
	transition: color 1s ease-out;
}

.behavior-popup-close, .obedience-popup-close {
	text-align: center;
	border-radius: 10px;
	color: white;
	background-color: gray;
	font-size: 0.9em;
	padding: 10px 5px;
	width: 190px;
	margin: 30px auto 5px auto;
	display: none;
}

.behavior-popup-close:hover, .obedience-popup-close:hover {
	cursor: pointer;
	opacity: 0.6;
}

.classes-separate {
	margin: 0 auto;
	width: 100%;
	opacity: 0;
}

.selected-button {
	background-color: rgba(119, 210, 202, 1);
	color: white;
}

#welcome-home, #age-dont-mean-a-thing, #upperclassman, #hooman-and-me, #reactivity, #socialization, #anxiety {
	display: none;
}

/******************************* CONTACT FORM *********************************/
.contact-popup-background {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1;
	background-color: rgba(0, 0, 0, 0.5);
	height: 100%;
	width: 100%;
	display: none;
}

.contact-form {
	background-color: #f5f5f5;
	margin: 10vh auto;
	width: 600px;
	max-height: 75vh;
	border: 5px solid rgba(119, 210, 202, 1);
	border-radius: 10px;
	overflow: auto;
	padding: 20px;
}

.contact-item {
	text-align: center;
}

.input-title {
	color: black;
	width: 450px;
	text-align: right;
	margin: 10px 0 0 0;
}

.contact-input {
	width: 250px;
	outline: none;
	border: 2px solid rgba(119, 210, 202, 1);
	border-radius: 10px;
	font-size: 1em;
	padding: 5px 5px;
	margin-left: 20px;
	background-color: rgba(255, 255, 255, 0.7);
}

.input-title-checkbox {
	color: black;
	text-align: left;
	margin: 15px 0 0 200px;
}

.contact-input-checkbox2 {
	margin-left: 30px;
}

.input-title-message {
	color: black;
	margin: 0 0 0 30px;
	text-align: left;
}

.contact-input-text {
	resize: none;
	width: 450px;
	margin: 5px 0 0 0;
	outline: none;
	border: 2px solid rgba(119, 210, 202, 1);
	height: 8em;
	font-size: 1em;
	padding: 5px;
	border-radius: 10px;
	overflow-y: auto;
	background-color: rgba(255, 255, 255, 0.7);
}

.g-recaptcha {
	-webkit-transform: scale(0.8);
	    -ms-transform: scale(0.8);
	        transform: scale(0.8);
}

.form-buttons{
	text-align: center;
	overflow: hidden;
	margin-bottom: 20px;
}

.contact-form-send {
	outline: none;
	border: none;
	-webkit-box-shadow: none;
	        box-shadow: none;
	border-radius: 10px;
	color: white;
	background-color: rgba(119, 210, 202, 1);
	font-size: 1em;
	padding: 10px 5px;
	width: 200px;
	margin: 20px 20px 0 calc((100% - 400px)/2);
	float: left;
}

.contact-form-cancel {
	outline: none;
	border: none;
	-webkit-box-shadow: none;
	        box-shadow: none;
	border-radius: 10px;
	color: white;
	background-color: gray;
	font-size: 0.9em;
	padding: 10px 5px;
	width: 190px;
	margin-top: 20px;
	float: left;
}

.contact-form-cancel:hover, .contact-form-send:hover {
	cursor: pointer;
	opacity: 0.6;
}

/******************************* PRICES POPUP *********************************/
.prices-popup-background {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1;
	background-color: rgba(0, 0, 0, 0.5);
	height: 100%;
	width: 100%;
	display: none;
}

.prices-popup{
	background-color: #f5f5f5;
	margin: 10vh auto;
	width: 600px;
	max-height: 75vh;
	border: 5px solid rgba(119, 210, 202, 1);
	border-radius: 10px;
	overflow: auto;
	padding: 20px;
}

.prices-header {
	text-align: center;
	color: black;
}

.prices-type {
	color: black;
}

.price-per-session {
	text-indent: 30px;
	color: rgba(119, 210, 202, 1);
	font-weight: bold;
}

.prices-content {
	color: black;
	margin-top: 2px;
	margin-bottom: 2px;
}

.prices-type-discount {
	color: black;
	margin-bottom: 0;
}

.discount-header{
	color: black;
	margin: 0;
}

.discount-prices {
	color: black;
	margin: 0;
	text-indent: 30px;
}

.rescue-price {
	color: black;
	text-indent: 30px;
	margin: 0;
}

.prices-popup-close {
	text-align: center;
	border-radius: 10px;
	color: white;
	background-color: gray;
	font-size: 0.9em;
	padding: 10px 5px;
	width: 190px;
	margin: 30px auto 5px auto;
}

.prices-popup-close:hover {
	cursor: pointer;
	opacity: 0.6;
}

@media screen and (max-width: 68.75em) {
	.classes {
		width: 95%;
	}
}

@media screen and (max-width: 54.375em) {
	.classes {
		width: 95%;
	}

	#pricing {
		font-size: 1em;
	}

	.classes-list li {
		font-size: 1.2em;
		padding: 5px;
	}

	.classes-container {
		width: 300px;
		margin-right: calc(100% - 300px - 450px);
	}
}

@media screen and (max-width: 51em) {
	.classes-background {
		background-position: top -25px right -400px;
	}

	#pricing {
		float: none;
		border: 2px solid rgba(119, 210, 202, 1);
		border-radius: 10px;
		font-size: 1em;
		cursor: pointer;
		background-color: white;
		color: rgba(119, 210, 202, 1);
		width: 180px;
		margin: 10px auto 0 auto;
	}

	#pricing:hover {
		border: 2px solid white;
		background-color: rgba(119, 210, 202, 1);
		color: white;
		opacity: 1;
	}

	.classes-container {
		width: 360px;
		float: none;
		margin: 0 auto;
	}

	.classes-list li {
		font-size: 1.5em;
		padding: 10px;
		border: 2px solid white;
		background-color: rgba(119, 210, 202, 0.3);
	}

	.classes-list li:hover {
		border: 2px solid rgba(119, 210, 202, 1);
		background-color: white;
		color: rgba(119, 210, 202, 1);
	}

	.classes-popup-background {
		margin: 0;
		padding: 0;
		position: fixed;
		top: 0;
		left: 0;
		background-color: rgba(0, 0, 0, 0.5);
		height: 100%;
		width: 100%;
		z-index: 1;
	}

	.classes-description-container {
		position: fixed;
		top: 0;
		left: calc(50% - 450px/2);
		z-index: 2;
		background-color: #f5f5f5;
		margin: 10vh auto;
		width: 400px;
		max-height: 75vh;
		border: 5px solid rgba(119, 210, 202, 1);
		border-radius: 10px;
		overflow: auto;
		padding: 20px;
	}

	.classes-description-list {
		background-color: #f5f5f5;
	}

	.classes-description-list li {
		color: black;
	}

	.behavior-popup-close, .obedience-popup-close {
		display: block;
	}

	.contact-form {
		width: 400px;
		overflow-x: hidden;
	}

	.input-title {
		text-align: left;
	}

	.input-title-span {
		margin-right: 300px;
	}

	.contact-input {
		width: 325px;
	}

	.input-title-checkbox {
		text-align: left;
		margin: 15px 0 0 0;
	}

	.input-title-message {
		margin: 0 0 0 0;
	}

	.contact-input-text {
		width: 350px;
		margin: 20px 0 0 0;
	}

	.contact-form-send {
		width: 200px;
		margin: 20px 0;
		float: none;
	}

	.contact-form-cancel {
		width: 190px;
		margin: 0 auto;
		float: none;
	}

	.prices-popup {
		width: 400px;
	}
}

@media screen and (max-width: 31.25em) {
	.classes-background {
		background-position: top -25px right -500px;
	}

	.classes-container {
		width: 90%;
	}

	.classes-list li {
		font-size: 1.2em;
		width: 80%;
		margin: 10px auto;
	}

	.classes-description-container {
		left: calc(50% - 300px/2);
		width: 250px;
	}

	.contact-form {
		width: 250px;
	}

	.input-title-span {
		margin-right: 200px;
	}

	.contact-input {
		width: 200px;
	}

	.contact-input-text {
		width: 200px;
	}

	.prices-popup {
		width: 250px;
	}

	.g-recaptcha {
		-webkit-transform: scale(0.7);
		    -ms-transform: scale(0.7);
		        transform: scale(0.7);
		margin-left: -30px;
	}
}