/* NON-TIFFANY BLUE: #77d2ca OR rgba(119, 210, 202, 1) */
.method-background {
	background-image: url('https://i.imgur.com/h5w5M3U.jpg');
	background-size: cover;
	height: 1200px;
	padding-top: 20px;
}

.method-container {
	width: 80%;
	margin: 0 auto;
}

.blurb-intro {
	width: 90%;
	margin: 0 auto 0 auto;
	padding-top: 30px;
	color: white;
	padding-bottom: 20px;
	border-radius: 20px;
}

.blurb-intro p {
	width: 90%;
	margin: 0 auto;
	font-size: 2em;
	text-indent: 40px;
	font-family: 'Handlee', 'cursive';
	text-align: center;
}

.blurb-separate {
	border: none;
    background-color: rgba(119, 210, 202, 1);
    color: rgba(119, 210, 202, 1);
    height: 2px;
    width: 90%;
    margin: 0 auto 30px auto; 
}

.learn-more {
	overflow: hidden;
	margin: 40px 0 10px 0;
	text-align: center;
}

.learn-button {
	outline: none;
	border: 3px solid rgba(119, 210, 202, 1);
	color: rgba(119, 210, 202, 1);
	background-color: rgba(255, 255, 255, 0.9);
	height: 50px;
	font-size: 1.2em;
	border-radius: 30px;
	cursor: pointer;
	width: 500px;
}

.learn-button:hover {
	border: 3px solid white;
	color: white;
	background-color: rgba(119, 210, 202, 1);
}

.boxes-behavior {
	overflow: hidden;
	text-align: center;
}

.box {
	width: 250px;
	background-color: rgba(119, 210, 202, 0.7);
	text-align: center;
	color: white;
	padding: 70px 0;
	float: left;
	margin-top: 5px;
	margin-left: calc((100% - 1000px - 24px)/5);
	border-radius: 20px;
	font-size: 1.5em;
	cursor: pointer;
	border: 3px solid white;
}

.box:hover {
	color: rgba(119, 210, 202, 1);
	background-color: white;
	border: 3px solid rgba(119, 210, 202, 1);
}

.box1 {
	margin-left: 14.5%;
}

.boxes-training {
	overflow: hidden;
}

.box2 {
	width: 250px;
	background-color: rgba(119, 210, 202, 0.7);
	text-align: center;
	color: white;
	padding: 70px 0;
	float: left;
	margin-left: calc((100% - 1000px - 24px)/5);
	margin-top: 5px;
	border-radius: 15px;
	font-size: 1.5em;
	cursor: pointer;
	max-height: 31px;
	border: 3px solid white;
}

.box2:hover {
	background-color: white;
	color: rgba(119, 210, 202, 1);
	border:  3px solid rgba(119, 210, 202, 1);
}

.popup-background {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	z-index: 1;
	display: none;
	opacity: 0;
	-webkit-transition: opacity 0.2s linear;
	-o-transition: opacity 0.2s linear;
	transition: opacity 0.2s linear;
}

.popup {
	margin: 80px auto;
	width: 1000px;
	background-color: white;
	padding: 20px 50px;
	border: 10px solid rgba(119, 210, 202, 1);
	border-radius: 10px;
	overflow: auto;
	max-height: 70vh;
}

.popup-package-content {
	display: none;
}

.x-close-container {
	overflow: hidden;
}

.x-close {
	font-size: 1.5em;
	float: right;
	padding: 5px 13.8px;
	text-align: center;
	background-color: rgba(119, 210, 202, 1);
	color: white;
	border-radius: 50%;
	font-family: "Lucida Console", Monaco, monospace;
	margin: 10px 0 0 0 ;
	cursor: pointer;
}

.popup-package-name {
	text-align: center;
	color: rgba(119, 210, 202, 1);
	font-size: 2em;
	padding: 5px;
	border: solid 1px rgba(119, 210, 202, 1);
	border-radius: 3px;
	margin-top: 10px;
}

.popup-package-content p {
	width: 80%;
	text-indent: 30px;
	margin: 16px auto;
}

.popup-image-title {
	text-align: center;
	font-size: 1.6em;
	margin-bottom: 0;
}

.popup-image {
	margin-top: 0;
	margin-bottom: 30px;
	margin-left: calc((100% - 795px)/2);
}

.popup-close {
	margin-left: calc(50% - 50px);
	margin-top: 20px;
	width: 100px;
	height: 50px;
	color: white;
	background-color: rgba(119, 210, 202, 1);
	font-size: 1em;
	border-radius: 5px;
	outline: none;
	border: none;
	-webkit-box-shadow: none;
	        box-shadow: none;
	cursor: pointer;
}

.popup-close:hover {
	opacity: 0.7;
}

.x-close:hover {
	opacity: 0.7;
}

@media screen and (max-width: 81.25em){
	.box {
		width: 200px;
		margin-left: calc((100% - 800px - 24px)/5);
	}

	.box1 {
		margin-left: 15.5%;
	}

	.box2 {
		width: 200px;
		margin-left: calc((100% - 800px - 24px)/5);
	}

}

@media screen and (max-width: 71.25em){
	.box {
		width: 150px;
		margin-left: calc((100% - 600px - 24px)/5);
		font-size: 1.2em;
		padding: 50px 0;
	}

	.box1 {
		margin-left: 17%;
	}

	.box2 {
		width: 150px;
		margin-left: calc((100% - 600px - 24px)/5);
		font-size: 1.2em;
		padding: 50px 0;
		max-height: 24px;
	}

	.popup {
		width: 800px;
	}
}

@media screen and (max-width: 61em){
	.box1 {
		margin-left: 15.5%;
	}

	.popup {
		width: 600px;
		padding: 20px 0;
	}

	.x-close {
		margin: 10px 10px 0 0;
	}

	.popup-package-name {
		width: 80%;
		margin: 10px auto 0 auto;
	}

	.popup-package-content p {
		width: 90%;
	}

	.popup-image-title {
		font-size: 1.2em;
	}

	.popup-image {
		width: 400px;
		margin-left: calc((100% - 400px)/2);
	}

}

@media screen and (max-width: 61em){
	.blurb-intro {
		width: 100%;
	}
	.method-container{
		width: 100%;
	}

	.learn-button{
		width: 400px;
	}

	.box1 {
		margin-left: 0;
	}

	.box {
		width: 150px;
		margin-left: calc((100% - 450px - 18px)/4);
	}

	#obedience-button {
		margin-top: 50px;
	}

	.box2 {
		width: 150px;
		margin-left: calc((100% - 600px - 24px)/5);
		font-size: 1.2em;
		padding: 50px 0;
		max-height: 24px;
	}
}

@media screen and (max-width: 41.5em){
	.blurb-intro p {
		font-size: 1.3em;
	}

	.box {
		width: 150px;
		margin-left: calc((100% - 450px - 18px)/4);
	}

	.box2 {
		width: 200px;
		margin-left: calc((100% - 400px - 12px)/3);
	}

	.popup {
		width: 400px;
		padding: 20px 0;
	}
}

@media screen and (max-width: 31.25em) {
	.learn-button {
		width: 80%;
		font-size: 1em;
		margin: 0 auto;
	}

	.box {
		width: 105px;
		padding: 25px 0;
		font-size: 1em;
		margin-left: calc((100% - 315px - 18px)/4);
	}

	.box2 {
		width: 150px;
		padding: 25px 0;
		font-size: 1em;
		margin-left: calc((100% - 300px - 12px)/3);
	}

	.popup {
		width: 90%;
	}

	.popup-image-title {
		font-size: 1.1em;
	}

	.popup-image {
		width: 250px;
		margin-left: calc((100% - 250px)/2);
	}
}

@media screen and (max-width: 21.875em){
	.method-background {
		height: 1300px;
	}

	.box {
		width: 70%;
		float: none;
		margin: 10px auto 0 auto;
	}

	.learn-more {
		margin-top: 5px;
	}

	.box2 {
		width: 45%;
		margin-left: 1.5%;
		font-size: 0.9em;
		max-height: 18px;
	}
}