/* NON-TIFFANY BLUE: #77d2ca OR rgba(119, 210, 202, 1) */
.schedule-background{
	background-image: url('https://i.imgur.com/SRNWeCJ.jpg');
	background-size: cover;
	background-position: center;
	padding-top: 20px;
	height: 800px;
	overflow-x: hidden;
	width: 100vw;
}

.schedule-container{
	width: 900px;
	margin: 0 auto;
	overflow: hidden;
}

.schedule-left {
	width: 445px;
	float: left;
}

.schedule-right {
	width: 445px;
	float: left;
	margin-left: 10px;
}

.schedule-header {
	text-align: center;
	background-color: rgba(119, 210, 202, 1);
	color: white;
	width: 250px;
	margin: 30px auto 20px auto;
	padding: 5px 2px;
	border: 2px solid white;
	border-radius: 10px;
}

.schedule-content {
	width: calc(100%-4px);
	border: 1px solid rgba(119, 210, 202, 1);
	background-color: rgba(255, 255, 255, 0.6);
	overflow: hidden;
	border-radius: 10px;
}

.schedule-content-events {
	width: calc(100% - 2px);
	border: 1px solid rgba(119, 210, 202, 1);
	background-color: rgba(255, 255, 255, 0.6);
	overflow: hidden;
	border-radius: 10px;
}

.date-container {
	float: left;
	width: 100px;
}

.schedule-date {
	text-indent: 20px;
}

.schedule-title-container {
	float: left;
}

@media screen and (max-width: 58.125em) {
	.schedule-container {
		width: 95%;
	}

	.schedule-left {
		width: 90%;
		float: none;
		margin: 0 auto;
	}

	.schedule-right {
		width: 90%;
		float: none;
		margin: 0 auto;
	}

	.schedule-content {
		width: 100%;
	}

	.schedule-content-events {
		width: 90%;
		margin: 0 auto;
	}
}