/* NON-TIFFANY BLUE: #77d2ca OR rgba(119, 210, 202, 1) */
.schedule-background{
	background-image: url('https://i.imgur.com/SRNWeCJ.jpg');
	background-size: cover;
	background-position: center;
	padding-top: 20px;
	height: calc(100vh - 120px);
}

.schedule-container{
	width: 70%;
	margin: 0 auto;
}

.schedule-container p {
	font-size: 2em;
}