/* NON-TIFFANY BLUE: #77d2ca OR rgba(119, 210, 202, 1) */
.team-background {
	background-image: url('https://i.imgur.com/qN7UzxU.jpg');
	background-size: cover;
	background-position: right;
	padding-top: 20px;
	margin-bottom: -19px;
	height: 2000px;
	width: 100vw;
}

.team-container {
	width: 80%;
	margin: 0 auto;
}

#join-team-btn {
	width: 200px;
	text-align: center;
	border: 2px solid rgba(119, 210, 202, 1);
	color: rgba(119, 210, 202, 1);
	background-color: white;
	margin: 0 auto;
	padding: 10px 5px;
	border-radius: 10px;
	cursor: pointer;
}

#join-team-btn:hover {
	border: 2px solid white;
	color: white;
	background-color: rgba(119, 210, 202, 1);
}

#join-team-popup-bg {
	width: 100vw;
	height: 100vh;
	position: fixed;
	top: 0;
	left: 0;
	background-color: rgba(0, 0, 0, 0.6);
	z-index: 2;
	display: none;
}

#join-team-popup {
	width: 500px;
	position: fixed;
	top: 20vh;
	min-height: 250px;
	max-height: 450px;
	left: calc(50% - 255px);
	background-color: white;
	border: 5px solid rgba(119, 210, 202, 1);
	overflow: auto;
	border-radius: 10px;
}

#join-team-popup h4 {
	text-align: center;
	font-size: 1.4em;
}

.join-team-form {
	width: 70%;
	margin: 0 auto;
}

.join-team-input {
	width: 100%;
	box-sizing: border-box;
	resize: none;
	margin: 5px 0;
	padding: 10px 5px;
	border: 2px solid rgba(119, 210, 202, 1);
	font-size: 1em;
	border-radius: 5px;
}

.g-recaptcha {
	-webkit-transform: scale(0.8);
	    -ms-transform: scale(0.8);
	        transform: scale(0.8);
}

.join-team-send {
	background-color: rgba(119, 210, 202, 1);
	color: white;
	font-weight: bold;
	letter-spacing: 2px;
	cursor: pointer;
}

.join-team-send:hover {
	opacity: 0.7;
}

.join-team-cancel {
	background-color: gray;
	color: white;
	text-align: center;
	border: 2px solid gray;
	cursor: pointer;
	margin-bottom: 15px;
	letter-spacing: 2px;
}

.join-team-cancel:hover {
	opacity: 0.7;
}

.teammate-container {
	width: 80%;
	margin: 20px auto 0 auto;
	padding: 10px;
	background-color: rgba(255, 255, 255, 0.5);
	border-radius: 10px;
}

.teammate-header {
	overflow: hidden;
}

.image-left {
	float: left;
}

.image-right {
	float: right;
}

.wendy-image {
	width: 300px;
	border-radius: 5px;
}

.wendy-left {
	width: calc(100% - 300px);
	overflow: hidden;
	height: 300px;
	float: left;
}

.teammate-image {
	width: 150px;
	border-radius: 50%;
}

.teammate-left {
	width: calc(100% - 150px);
	overflow: hidden;
	height: 150px;
	float: left;
}

.teammate-right {
	width: calc(100% - 150px);
	overflow: hidden;
	height: 150px;
	float: right;
	text-align: right;
}

.teammate h3 {
	margin: 40px 20px 0 20px;
	font-size: 3em;
}

.teammate h4 {
	margin: 0 20px 0 20px;
	font-size: 1.5em;
}

.teammate-content {
	line-height: 25px;
	margin: 10px 0 0 0;
}

.teammate-info-content {
	height: 75px;
	overflow: hidden;
	-webkit-transition: height 0.5s ease-out;
	-o-transition: height 0.5s ease-out;
	transition: height 0.5s ease-out;
}

.see-more {
	display: none;
}

.team-separate {
	width: 60%;
	margin: 30px auto;
	border: 1px solid white;
	opacity: 0.8;
}

@media screen and (max-width: 69.6875em){
	.team-container {
		width: 100%;
	}

	.wendy-image {
		width: 200px;
	}

	.wendy-left {
		height: 200px;
		width: calc(100% - 200px)
	}

	.teammate h3 {
		font-size: 2.5em;
	}

	.teammate h4 {
		font-size: 1.2em;
	}

	.see-more {
		width: 100px;
		font-weight: 700;
		color: rgba(119, 210, 202, 1);
		cursor: pointer;
		display: block;
	}

	.see-more-button-right {
		margin-left: calc(100% - 100px);
	}
}

@media screen and (max-width: 42em){
	.team-container {
		width: 100%;
	}

	.teammate-container {
		width: 95%;
	}

	.teammate-image {
		width: 100px;
	}

	.wendy-image {
		width: 150px;
	}

	.wendy-left {
		height: 150px;
		width: calc(100% - 150px)
	}

	.teammate-left {
		height: 100px;
		width: calc(100% - 100px)
	}

	.teammate-right {
		height: 100px;
		width: calc(100% - 100px)
	}

	.teammate h3 {
		font-size: 2em;
		margin-top: 10px;
	}

	.teammate h4 {
		font-size: 1em;
	}

	#join-team-popup {
		width: 350px;
		left: calc(50% - 360px/2)
	}

	.join-team-form {
		width: 90%;
	}
}

@media screen and (max-width: 28.5em){
	.teammate h3 {
		font-size: 1.5em;
		margin-top: 5px;
		text-align: left;
	}

	.teammate h4 {
		font-size: 0.8em;
		text-align: left;
	}

	#join-team-popup {
		width: 250px;
		left: calc(50% - 260px/2)
	}

	.join-team-form {
		width: 95%;
	}
}
